@page "/Network"
@using TcpNetworkProxy.Data

<MudSimpleTable Dense Hover>
    <thead>
    <tr>
        @foreach (var heading in _headings)
        {
            <th>@heading</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var entry in _networkEntries)
    {
        <tr class="cursor-pointer" @onclick="@HandleOnClick">
            <td>@entry.Source</td>
            <td>@entry.Destination</td>
            <td>@entry.Data</td>
        </tr>
    }
    </tbody>
</MudSimpleTable>

@code {
    private readonly string[] _headings = { "Source", "Destination", "Data" };
    private readonly NetworkEntry[] _networkEntries =
    {
        new("127.0.0.1", "200.200.200.200", "B1 00 01"),
        new("127.0.0.1", "200.200.200.200", "B1 00 01"),
        new("127.0.0.1", "200.200.200.200", "B1 00 01"),
        new("127.0.0.1", "200.200.200.200", "B1 00 01"),
        new("127.0.0.1", "200.200.200.200", "B1 00 01"),
        new("127.0.0.1", "200.200.200.200", "B1 00 01"),
    };

    private void HandleOnClick()
    {
        _networkEntries[0] = new NetworkEntry("255.255.255.255", "127.0.0.1", "AB 10 10");
        StateHasChanged();
    }
}